#listItem {
	font-size: 15pt;
	display:block;
	width:100%;
	height: 5em;

	border-color: #E7E7F0;
	border-style: solid;
	border-width: 0 0 0.19em 0;
}

.listItem--active {
	background: rgb(204, 228, 231);
}

/* CSS to hide original  checkbox*/
input[type="checkbox"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.checkbox {
	float: left;
	height: 20px;
	width: 20px;
	background: #fff;
	border: 2px #ddd solid;
	margin: 2em 1px 0 1em;
}
  
.checkbox--active {
	background: rgb(100, 204, 218);
}

#listItem .left {
	float: left;
	width: 2em;
}

#listItem .middle {
	display: block;
	float: left;
	padding-left: 2em;
	padding-top: 0.25em;
}

#listItem .right {
	float: right;
	padding-top: 0.25em;
}

#listItem .title {
	font-size: 1.75em;
}

#listItem .tagContainer {
	font-size: 0.9em;
	padding-top: 0.35em;
}

#listItem .tag {
	display: block;
	text-align: center;
	float: left;

	background: #fff;
	border-color: #000000;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 1em;

	padding: 0.2em 0.45em;
	margin-right: 0.25em;
}

#listItem .quantity {
	float: right;
	font-size: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
}

#listItem .remove {
	float: right;
	padding-right: 0.5em;
	padding-top: 0.25em;
	font-size: 2em;
}

#listItem a {
	text-decoration: none;
	color: #D0D0D0;
}
